In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ruano\anaconda3\lib\site-packages (9.0.0)

In [2]:
import mysql.connector

# Connection configuration
conexion = mysql.connector.connect(
  host="localhost",
  user="root",
  password="datapoet",
  database="dap1"
)

# Connection verification
if conexion.is_connected():
    print("Conexión exitosa a MySQL")

Conexión exitosa a MySQL

In [17]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\ruano\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\ruano\anaconda3\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\ruano\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ruano\anaconda3\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\users\ruano\anaconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\ruano\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ruano\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ruano\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ruano\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\ruano\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ruano\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ruano\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\ruano\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\ruano\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\ruano\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [19]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\ruano\anaconda3\lib\site-packages (2.0.30)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ruano\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ruano\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 262.6 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 373.5 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

#### 2.2.3.1 **World Bank Indicators**

For the World Bank data, I first refined the list of relevant countries by excluding categories like regions and areas from the Excel file. I then imported this refined data into the **wb_countries** table in **Navicat**, resulting in a table with 216 records, each representing a country with its relevant information. This table served as a reference for comparing with other indicator tables imported separately. Subsequently, the data from the four separate indicator tables were consolidated into a single table, **wb_values**. SQL queries were used to verify and compare record counts across tables to ensure data consistency, and joins were performed to integrate the tables into the final data model.

Here is an example of a join between wb_countries, with the refined list of countries, and wb_gdppc, the imported table for one of the indicators:

In [49]:
from sqlalchemy import create_engine
import pandas as pd

# Configure connection chain
engine = create_engine('mysql+pymysql://root:datapoet@localhost/dap1')

# Connect and execute query
query = '''SELECT c.country_code, g.country_code AS country_code_gdp
FROM wb_countries AS c
LEFT JOIN ____wb_gdppc AS g 
     ON c.country_code = g.country_code
WHERE g.country_code IS NULL;'''

df = pd.read_sql(query, engine)

# Show results
df.head()

Empty DataFrame
Columns: [country_code, country_code_gdp]
Index: []

Here, we see an example of a join between **wb_countries**, which contains the predefined list of countries, and **____wb_gdppc**, one of the imported indicator tables. By comparing the **country_code** from both tables using a LEFT JOIN, it is evident that there are no discrepancies between them. The country code serves as the common key for both tables. Subsequently, after verification, all four tables were merged into the parent table **wb_values** using the following query:

INSERT INTO wb_values (
  country_id,
  indicator_id,
  `1960`, `1961`, `1962`, `1963`, `1964`, `1965`, `1966`, `1967`, `1968`, `1969`,
  `1970`, `1971`, `1972`, `1973`, `1974`, `1975`, `1976`, `1977`, `1978`, `1979`,
  `1980`, `1981`, `1982`, `1983`, `1984`, `1985`, `1986`, `1987`, `1988`, `1989`,
  `1990`, `1991`, `1992`, `1993`, `1994`, `1995`, `1996`, `1997`, `1998`, `1999`,
  `2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`,
  `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`, `2019`,
  `2020`, `2021`, `2022`, `2023`  
) SELECT
    wb_countries.id,
    wb_indicators.id,
    ____wb_gdppc.`1960`,
    ____wb_gdppc.`1961`,
    ____wb_gdppc.`1962`,
    ____wb_gdppc.`1963`,
    ____wb_gdppc.`1964`,
    ____wb_gdppc.`1965`,
    ____wb_gdppc.`1966`,
    ____wb_gdppc.`1967`,
    ____wb_gdppc.`1968`,
    ____wb_gdppc.`1969`,
    ____wb_gdppc.`1970`,
    ____wb_gdppc.`1971`,
    ____wb_gdppc.`1972`,
    ____wb_gdppc.`1973`,
    ____wb_gdppc.`1974`,
    ____wb_gdppc.`1975`,
    ____wb_gdppc.`1976`,
    ____wb_gdppc.`1977`,
    ____wb_gdppc.`1978`,
    ____wb_gdppc.`1979`,
    ____wb_gdppc.`1980`,
    ____wb_gdppc.`1981`,
    ____wb_gdppc.`1982`,
    ____wb_gdppc.`1983`,
    ____wb_gdppc.`1984`,
    ____wb_gdppc.`1985`,
    ____wb_gdppc.`1986`,
    ____wb_gdppc.`1987`,
    ____wb_gdppc.`1988`,
    ____wb_gdppc.`1989`,
    ____wb_gdppc.`1990`,
    ____wb_gdppc.`1991`,
    ____wb_gdppc.`1992`,
    ____wb_gdppc.`1993`,
    ____wb_gdppc.`1994`,
    ____wb_gdppc.`1995`,
    ____wb_gdppc.`1996`,
    ____wb_gdppc.`1997`,
    ____wb_gdppc.`1998`,
    ____wb_gdppc.`1999`,
    ____wb_gdppc.`2000`,
    ____wb_gdppc.`2001`,
    ____wb_gdppc.`2002`,
    ____wb_gdppc.`2003`,
    ____wb_gdppc.`2004`,
    ____wb_gdppc.`2005`,
    ____wb_gdppc.`2006`,
    ____wb_gdppc.`2007`,
    ____wb_gdppc.`2008`,
    ____wb_gdppc.`2009`,
    ____wb_gdppc.`2010`,
    ____wb_gdppc.`2011`,
    ____wb_gdppc.`2012`,
    ____wb_gdppc.`2013`,
    ____wb_gdppc.`2014`,
    ____wb_gdppc.`2015`,
    ____wb_gdppc.`2016`,
    ____wb_gdppc.`2017`,
    ____wb_gdppc.`2018`,
    ____wb_gdppc.`2019`,
    ____wb_gdppc.`2020`,
    ____wb_gdppc.`2021`,
    ____wb_gdppc.`2022`,
    ____wb_gdppc.`2023` 
FROM
  ____wb_gdppc
  JOIN wb_countries ON ____wb_gdppc.country_code = wb_countries.country_code
  JOIN wb_indicators ON ____wb_gdppc.indicator_code = wb_indicators.indicator_code;
  
#INSERT INTO wb_values (
  country_id,
  indicator_id,
  `1960`, `1961`, `1962`, `1963`, `1964`, `1965`, `1966`, `1967`, `1968`, `1969`,
  `1970`, `1971`, `1972`, `1973`, `1974`, `1975`, `1976`, `1977`, `1978`, `1979`,
  `1980`, `1981`, `1982`, `1983`, `1984`, `1985`, `1986`, `1987`, `1988`, `1989`,
  `1990`, `1991`, `1992`, `1993`, `1994`, `1995`, `1996`, `1997`, `1998`, `1999`,
  `2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`,
  `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`, `2019`,
  `2020`, `2021`, `2022`, `2023` 
) SELECT
    wb_countries.id,
    wb_indicators.id,
    ____wb_netmigration.`1960`,
    ____wb_netmigration.`1961`,
    ____wb_netmigration.`1962`,
    ____wb_netmigration.`1963`,
    ____wb_netmigration.`1964`,
    ____wb_netmigration.`1965`,
    ____wb_netmigration.`1966`,
    ____wb_netmigration.`1967`,
    ____wb_netmigration.`1968`,
    ____wb_netmigration.`1969`,
    ____wb_netmigration.`1970`,
    ____wb_netmigration.`1971`,
    ____wb_netmigration.`1972`,
    ____wb_netmigration.`1973`,
    ____wb_netmigration.`1974`,
    ____wb_netmigration.`1975`,
    ____wb_netmigration.`1976`,
    ____wb_netmigration.`1977`,
    ____wb_netmigration.`1978`,
    ____wb_netmigration.`1979`,
    ____wb_netmigration.`1980`,
    ____wb_netmigration.`1981`,
    ____wb_netmigration.`1982`,
    ____wb_netmigration.`1983`,
    ____wb_netmigration.`1984`,
    ____wb_netmigration.`1985`,
    ____wb_netmigration.`1986`,
    ____wb_netmigration.`1987`,
    ____wb_netmigration.`1988`,
    ____wb_netmigration.`1989`,
    ____wb_netmigration.`1990`,
    ____wb_netmigration.`1991`,
    ____wb_netmigration.`1992`,
    ____wb_netmigration.`1993`,
    ____wb_netmigration.`1994`,
    ____wb_netmigration.`1995`,
    ____wb_netmigration.`1996`,
    ____wb_netmigration.`1997`,
    ____wb_netmigration.`1998`,
    ____wb_netmigration.`1999`,
    ____wb_netmigration.`2000`,
    ____wb_netmigration.`2001`,
    ____wb_netmigration.`2002`,
    ____wb_netmigration.`2003`,
    ____wb_netmigration.`2004`,
    ____wb_netmigration.`2005`,
    ____wb_netmigration.`2006`,
    ____wb_netmigration.`2007`,
    ____wb_netmigration.`2008`,
    ____wb_netmigration.`2009`,
    ____wb_netmigration.`2010`,
    ____wb_netmigration.`2011`,
    ____wb_netmigration.`2012`,
    ____wb_netmigration.`2013`,
    ____wb_netmigration.`2014`,
    ____wb_netmigration.`2015`,
    ____wb_netmigration.`2016`,
    ____wb_netmigration.`2017`,
    ____wb_netmigration.`2018`,
    ____wb_netmigration.`2019`,
    ____wb_netmigration.`2020`,
    ____wb_netmigration.`2021`,
    ____wb_netmigration.`2022`,
    ____wb_netmigration.`2023` 
FROM
  ____wb_netmigration
  JOIN wb_countries ON ____wb_netmigration.country_code = wb_countries.country_code
  JOIN wb_indicators ON ____wb_netmigration.indicator_code = wb_indicators.indicator_code;
  
#INSERT INTO wb_values (
  country_id,
  indicator_id,
  `1960`, `1961`, `1962`, `1963`, `1964`, `1965`, `1966`, `1967`, `1968`, `1969`,
  `1970`, `1971`, `1972`, `1973`, `1974`, `1975`, `1976`, `1977`, `1978`, `1979`,
  `1980`, `1981`, `1982`, `1983`, `1984`, `1985`, `1986`, `1987`, `1988`, `1989`,
  `1990`, `1991`, `1992`, `1993`, `1994`, `1995`, `1996`, `1997`, `1998`, `1999`,
  `2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`,
  `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`, `2019`,
  `2020`, `2021`, `2022`, `2023` 
) SELECT
    wb_countries.id,
    wb_indicators.id,
    ____wb_poverty.`1960`,
    ____wb_poverty.`1961`,
    ____wb_poverty.`1962`,
    ____wb_poverty.`1963`,
    ____wb_poverty.`1964`,
    ____wb_poverty.`1965`,
    ____wb_poverty.`1966`,
    ____wb_poverty.`1967`,
    ____wb_poverty.`1968`,
    ____wb_poverty.`1969`,
    ____wb_poverty.`1970`,
    ____wb_poverty.`1971`,
    ____wb_poverty.`1972`,
    ____wb_poverty.`1973`,
    ____wb_poverty.`1974`,
    ____wb_poverty.`1975`,
    ____wb_poverty.`1976`,
    ____wb_poverty.`1977`,
    ____wb_poverty.`1978`,
    ____wb_poverty.`1979`,
    ____wb_poverty.`1980`,
    ____wb_poverty.`1981`,
    ____wb_poverty.`1982`,
    ____wb_poverty.`1983`,
    ____wb_poverty.`1984`,
    ____wb_poverty.`1985`,
    ____wb_poverty.`1986`,
    ____wb_poverty.`1987`,
    ____wb_poverty.`1988`,
    ____wb_poverty.`1989`,
    ____wb_poverty.`1990`,
    ____wb_poverty.`1991`,
    ____wb_poverty.`1992`,
    ____wb_poverty.`1993`,
    ____wb_poverty.`1994`,
    ____wb_poverty.`1995`,
    ____wb_poverty.`1996`,
    ____wb_poverty.`1997`,
    ____wb_poverty.`1998`,
    ____wb_poverty.`1999`,
    ____wb_poverty.`2000`,
    ____wb_poverty.`2001`,
    ____wb_poverty.`2002`,
    ____wb_poverty.`2003`,
    ____wb_poverty.`2004`,
    ____wb_poverty.`2005`,
    ____wb_poverty.`2006`,
    ____wb_poverty.`2007`,
    ____wb_poverty.`2008`,
    ____wb_poverty.`2009`,
    ____wb_poverty.`2010`,
    ____wb_poverty.`2011`,
    ____wb_poverty.`2012`,
    ____wb_poverty.`2013`,
    ____wb_poverty.`2014`,
    ____wb_poverty.`2015`,
    ____wb_poverty.`2016`,
    ____wb_poverty.`2017`,
    ____wb_poverty.`2018`,
    ____wb_poverty.`2019`,
    ____wb_poverty.`2020`,
    ____wb_poverty.`2021`,
    ____wb_poverty.`2022`,
    ____wb_poverty.`2023` 
FROM
  ____wb_poverty
  JOIN wb_countries ON ____wb_poverty.country_code = wb_countries.country_code
  JOIN wb_indicators ON ____wb_poverty.indicator_code = wb_indicators.indicator_code;
  
#INSERT INTO wb_values (
  country_id,
  indicator_id,
  `1960`, `1961`, `1962`, `1963`, `1964`, `1965`, `1966`, `1967`, `1968`, `1969`,
  `1970`, `1971`, `1972`, `1973`, `1974`, `1975`, `1976`, `1977`, `1978`, `1979`,
  `1980`, `1981`, `1982`, `1983`, `1984`, `1985`, `1986`, `1987`, `1988`, `1989`,
  `1990`, `1991`, `1992`, `1993`, `1994`, `1995`, `1996`, `1997`, `1998`, `1999`,
  `2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`,
  `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`, `2019`,
  `2020`, `2021`, `2022`, `2023` 
) SELECT
    wb_countries.id,
    wb_indicators.id,
    ____wb_unemployment.`1960`,
    ____wb_unemployment.`1961`,
    ____wb_unemployment.`1962`,
    ____wb_unemployment.`1963`,
    ____wb_unemployment.`1964`,
    ____wb_unemployment.`1965`,
    ____wb_unemployment.`1966`,
    ____wb_unemployment.`1967`,
    ____wb_unemployment.`1968`,
    ____wb_unemployment.`1969`,
    ____wb_unemployment.`1970`,
    ____wb_unemployment.`1971`,
    ____wb_unemployment.`1972`,
    ____wb_unemployment.`1973`,
    ____wb_unemployment.`1974`,
    ____wb_unemployment.`1975`,
    ____wb_unemployment.`1976`,
    ____wb_unemployment.`1977`,
    ____wb_unemployment.`1978`,
    ____wb_unemployment.`1979`,
    ____wb_unemployment.`1980`,
    ____wb_unemployment.`1981`,
    ____wb_unemployment.`1982`,
    ____wb_unemployment.`1983`,
    ____wb_unemployment.`1984`,
    ____wb_unemployment.`1985`,
    ____wb_unemployment.`1986`,
    ____wb_unemployment.`1987`,
    ____wb_unemployment.`1988`,
    ____wb_unemployment.`1989`,
    ____wb_unemployment.`1990`,
    ____wb_unemployment.`1991`,
    ____wb_unemployment.`1992`,
    ____wb_unemployment.`1993`,
    ____wb_unemployment.`1994`,
    ____wb_unemployment.`1995`,
    ____wb_unemployment.`1996`,
    ____wb_unemployment.`1997`,
    ____wb_unemployment.`1998`,
    ____wb_unemployment.`1999`,
    ____wb_unemployment.`2000`,
    ____wb_unemployment.`2001`,
    ____wb_unemployment.`2002`,
    ____wb_unemployment.`2003`,
    ____wb_unemployment.`2004`,
    ____wb_unemployment.`2005`,
    ____wb_unemployment.`2006`,
    ____wb_unemployment.`2007`,
    ____wb_unemployment.`2008`,
    ____wb_unemployment.`2009`,
    ____wb_unemployment.`2010`,
    ____wb_unemployment.`2011`,
    ____wb_unemployment.`2012`,
    ____wb_unemployment.`2013`,
    ____wb_unemployment.`2014`,
    ____wb_unemployment.`2015`,
    ____wb_unemployment.`2016`,
    ____wb_unemployment.`2017`,
    ____wb_unemployment.`2018`,
    ____wb_unemployment.`2019`,
    ____wb_unemployment.`2020`,
    ____wb_unemployment.`2021`,
    ____wb_unemployment.`2022`,
    ____wb_unemployment.`2023` 
FROM
  ____wb_unemployment
  JOIN wb_countries ON ____wb_unemployment.country_code = wb_countries.country_code
  JOIN wb_indicators ON ____wb_unemployment.indicator_code = wb_indicators.indicator_code;

We can check on the three tables conforming the **wb_indicators_schema** (first 15 records):

In [60]:
!pip install qgrid

Collecting qgrid
  Downloading qgrid-1.3.1.tar.gz (889 kB)
     ---------------------------------------- 0.0/889.2 kB ? eta -:--:--
     ---------------------------------------- 10.2/889.2 kB ? eta -:--:--
      ------------------------------------ 20.5/889.2 kB 217.9 kB/s eta 0:00:04
     -- ---------------------------------- 61.4/889.2 kB 409.6 kB/s eta 0:00:03
     ----- ------------------------------ 143.4/889.2 kB 774.0 kB/s eta 0:00:01
     ------------------ ------------------- 440.3/889.2 kB 2.1 MB/s eta 0:00:01
     --------------------------------- ---- 778.2/889.2 kB 3.1 MB/s eta 0:00:01
     -------------------------------------- 889.2/889.2 kB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: notebook>=4.0.0 in c:\users\ruano\anaconda3\lib\site-packages (from qgrid) (7.0.8)
Requirement already satisfied: pandas>=0.18.0 in c:\users\ruano\anaconda3\lib\site-packages (from qgrid) (2.2.2)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\ruano\anaconda3\lib\site-packages (from qgrid) (7.8.1)
Requirement already satisfied: comm>=0.1.3 in c:\users\ruano\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (0.2.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\ruano\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\ruano\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (5.14.3)
Requirement already satisfied: widgetsnbextension~=3.6.6 in c:\users\ruano\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (3.6.6)
Requirement already satisfied: ipython>=4.0.0 in c:\users\ruano\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (8.25.0)
Requirement already satisfied: jupyterlab-widgets<3,>=1.0.0 in c:\users\ruano\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (1.0.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\ruano\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (2.14.1)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in c:\users\ruano\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (2.25.1)
Requirement already satisfied: jupyterlab<4.1,>=4.0.2 in c:\users\ruano\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (4.0.11)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\ruano\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.2.3)
Requirement already satisfied: tornado>=6.2.0 in c:\users\ruano\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (6.4.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ruano\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ruano\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ruano\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ruano\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2023.3)
Requirement already satisfied: decorator in c:\users\ruano\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ruano\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\ruano\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ruano\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ruano\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (2.15.1)
Requirement already satisfied: stack-data in c:\users\ruano\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.2.0)
Requirement already satisfied: colorama in c:\users\ruano\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.4.6)
Requirement already satisfied: anyio>=3.1.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (4.2.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (21.3.0)
Requirement already satisfied: jinja2>=3.0.3 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (3.1.4)
Requirement already satisfied: jupyter-client>=7.4.4 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (5.7.2)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.4.4)
Requirement already satisfied: nbconvert>=6.4.4 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (7.10.0)
Requirement already satisfied: nbformat>=5.3.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (5.9.2)
Requirement already satisfied: overrides>=5.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (7.4.0)
Requirement already satisfied: packaging>=22.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (23.2)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.14.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.0.10)
Requirement already satisfied: pyzmq>=24 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (25.1.2)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.17.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook>=4.0.0->qgrid) (2.0.4)
Requirement already satisfied: ipykernel in c:\users\ruano\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook>=4.0.0->qgrid) (6.28.0)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook>=4.0.0->qgrid) (2.2.0)
Requirement already satisfied: babel>=2.10 in c:\users\ruano\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (0.9.6)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\ruano\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (4.19.2)
Requirement already satisfied: requests>=2.31 in c:\users\ruano\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (2.32.2)
Requirement already satisfied: six>=1.5 in c:\users\ruano\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.18.0->qgrid) (1.16.0)
Requirement already satisfied: idna>=2.8 in c:\users\ruano\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (3.7)
Requirement already satisfied: sniffio>=1.1 in c:\users\ruano\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.3.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\ruano\anaconda3\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (21.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ruano\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ruano\anaconda3\lib\site-packages (from jinja2>=3.0.3->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\ruano\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\ruano\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\ruano\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\ruano\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (305.1)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (6.0.1)
Requirement already satisfied: rfc3339-validator in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\ruano\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.1.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.1.2)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\ruano\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.2.1)
Requirement already satisfied: fastjsonschema in c:\users\ruano\anaconda3\lib\site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.16.2)
Requirement already satisfied: wcwidth in c:\users\ruano\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ruano\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ruano\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ruano\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook>=4.0.0->qgrid) (2024.7.4)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\ruano\anaconda3\lib\site-packages (from ipykernel->jupyterlab<4.1,>=4.0.2->notebook>=4.0.0->qgrid) (1.6.7)
Requirement already satisfied: nest-asyncio in c:\users\ruano\anaconda3\lib\site-packages (from ipykernel->jupyterlab<4.1,>=4.0.2->notebook>=4.0.0->qgrid) (1.6.0)
Requirement already satisfied: psutil in c:\users\ruano\anaconda3\lib\site-packages (from ipykernel->jupyterlab<4.1,>=4.0.2->notebook>=4.0.0->qgrid) (5.9.0)
Requirement already satisfied: executing in c:\users\ruano\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.8.3)
Requirement already satisfied: asttokens in c:\users\ruano\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\ruano\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.2.2)
Requirement already satisfied: webencodings in c:\users\ruano\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.5.1)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jsonpointer>1.13 in c:\users\ruano\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.1)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Collecting webcolors>=1.11 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading webcolors-24.8.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: cffi>=1.0.1 in c:\users\ruano\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\ruano\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.5)
Requirement already satisfied: pycparser in c:\users\ruano\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.21)
Requirement already satisfied: arrow>=0.15.0 in c:\users\ruano\anaconda3\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.2.3)
Downloading webcolors-24.8.0-py3-none-any.whl (15 kB)
Downloading fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Downloading isoduration-20.11.0-py3-none-any.whl (11 kB)
Downloading uri_template-1.3.0-py3-none-any.whl (11 kB)
Building wheels for collected packages: qgrid
  Building wheel for qgrid (setup.py): started
  Building wheel for qgrid (setup.py): finished with status 'done'
  Created wheel for qgrid: filename=qgrid-1.3.1-py2.py3-none-any.whl size=1761261 sha256=5e09de5a5af2721856b6cd5210f8b3aaa89075e3ff59a196a0a3cad2df88baf5
  Stored in directory: c:\users\ruano\appdata\local\pip\cache\wheels\0a\83\df\0bccd6bcfb1923fcca59ca6f7b04f6b8d19300faf1a4edcc02
Successfully built qgrid
Installing collected packages: webcolors, uri-template, fqdn, isoduration, qgrid
Successfully installed fqdn-1.5.1 isoduration-20.11.0 qgrid-1.3.1 uri-template-1.3.0 webcolors-24.8.0

In [72]:
from sqlalchemy import create_engine
import pandas as pd
from IPython.display import display, HTML

# Configure the connection string
engine = create_engine('mysql+pymysql://root:datapoet@localhost/dap1')

# Query and display the wb_countries table
query_countries = '''
SELECT * FROM wb_countries
LIMIT 15;
'''
df_countries = pd.read_sql(query_countries, engine)

# Display the DataFrame as an HTML table
print("wb_countries Table:")
display(HTML(df_countries.to_html()))

# Query and display the wb_values table
query_values = '''
SELECT * FROM wb_values
LIMIT 15;
'''
df_values = pd.read_sql(query_values, engine)

# Display the DataFrame as an HTML table
print("wb_values Table:")
display(HTML(df_values.to_html()))

# Query and display the wb_indicators table
query_indicators = '''
SELECT * FROM wb_indicators
LIMIT 15;
'''
df_indicators = pd.read_sql(query_indicators, engine)

# Display the DataFrame as an HTML table
print("wb_indicators Table:")
display(HTML(df_indicators.to_html()))

wb_countries Table:

wb_values Table:

wb_indicators Table:

#### 2.2.3.2 **United Nations: Population Division**

For the United Nations data, SQL queries were used to verify and ensure data consistency, integrate the tables into the final data model.

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from IPython.display import display, HTML

# Configure the connection string
engine = create_engine('mysql+pymysql://root:datapoet@localhost/dap1')

# Query and display the wb_countries table
query_countries = '''
SELECT * FROM un_locations
LIMIT 25;
'''
df_countries = pd.read_sql(query_countries, engine)

# Display the DataFrame as an HTML table
print("un_locations Table:")
display(HTML(df_countries.to_html()))

# Query and display the wb_values table
query_values = '''
SELECT * FROM un_migration_stock
LIMIT 25;
'''
df_values = pd.read_sql(query_values, engine)

# Display the DataFrame as an HTML table
print("un_migration_stock Table:")
display(HTML(df_values.to_html()))

un_locations Table:

un_migration_stock Table: